@import url('https://fonts.googleapis.com/css?family=Merienda');
@media screen and ( max-width : 640px ){

    body{
        font-size : 100%;
    }
    
    }



#ham-menu {
    background-color: rgb(151, 235, 235);/*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.2s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 300px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-icon {
    background-color: rgb(151, 235, 235); /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 45px; /*アイコン横幅*/
    transition: all 0.2s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}

body {
  font-family: 'Merienda', cursive;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a{
    text-decoration-color: rgb(151, 235, 235);
    color: #333;
 }

 #contact{ 
    position: relative; 
} 

#contact h2 { 
    font-size: 55px; 
    margin: 100px 0 10px 280px; 
} 

label{ 
    font-size: 20px; 
} 

#Cname { 
    position: absolute; 
    margin-left: 350px; 
    font-family: 'Schoolbell', cursive; 
    color: #333; 
} 
#Cmail { 
    position: absolute; 
    margin-left: 200px; 
    margin-top: -52px; 
}

.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: rgba(15, 145, 162, 0.926);/*背景色*/
    color: rgb(208, 5, 99);/*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
    margin-left: 140px;
}

.square_btn:active {/*押したとき*/
   color: rgb(10, 215, 242);
   background: rgb(208, 5, 99);
   border-bottom: solid 2px rgb(208, 5, 99);
   box-shadow: none;
   text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}



